@media (max-width: 1300px) {
  #about {
    &-a {
      .about-info {
        img {
          align-self: flex-start;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  #header-home {
    .header-content {
      h1 {
        line-height: 2.5rem;
        font-size: 2.5rem;
        margin-bottom: 0.7rem;
      }
      .lead {
        font-size: 1.2rem;
      }
    }
  }
  #work-a {
    .items {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .modal {
    .modal-content {
      width: 1024px;
    }
  }
}

@media (max-width: 800px) {
  #header-home {
    height: 30rem;
    background: $bg-img no-repeat bottom left;
    .header-content {
      padding-top: 5rem;
      h1 {
        font-size: 2rem;
      }
      .lead {
        font-size: 1.1rem;
      }
    }
  }
  #about {
    &-c {
      .code-logos,
      .tools-logos {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    &-a {
      .about-info {
        grid-template-areas:
          "bioimage"
          "bio"
          "tr1"
          "tr2"
          "tr3";
      }
    }
  }
  #work-a {
    .items {
      grid-template-columns: 1fr;
      .item:last-child {
        grid-column: 1;
      }
    }
  }
  #contact {
    &-a {
      .text-fields {
        grid-template-areas:
          "name"
          "email"
          "subject"
          "phone"
          "message";
      }
    }
    &-b {
      .contact-info {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
      }
    }
  }
}

@media (max-width: 600px) {
  #main-footer {
    height: 7rem;
    .footer-content {
      flex-direction: column;
      padding: 1rem;
      height: 5rem;
    }
  }
}

@media (max-width: 500px) {
  #main-nav {
    flex-direction: column;
    align-items: center;
    .logo {
      color: $orange-red;
      margin-bottom: 1rem;
    }
    ul {
      li {
        padding: 0.7rem;
      }
    }
  }
  #header {
    &-home {
      height: 10rem;
      border-bottom: 3px solid $main-color;
      .header-content {
        display: none;
      }
    }
  }
  #home {
    .process {
      grid-template-columns: 1fr;
    }
  }
  #about {
    &-c {
      .code-logos,
      .tools-logos {
        img {
          height: 64px;
        }
      }
    }
  }
}
